<section id="certificates" class="certificates">
  <div class="container">
    <h1 class="text-center">Certificates</h1>
    <div class="certificates-grid">
      <div class="certificate-item">
        <h3>TensorFlow Developer Certificate</h3>
        <p>Issued by Google on Credential.net</p>
        <p><em>Date: June 2023</em></p>
        <a href="https://www.credential.net/3f7bf99f-f0c9-4f8b-bd9a-f3474c54b39f#gs.dbw5jq" target="_blank" class="btn btn-primary">View Certificate</a>
      </div>
      <div class="certificate-item">
        <h3>Improving Deep Neural Networks</h3>
        <p>Issued by Coursera</p>
        <p><em>Date: April 2023</em></p>
        <a href="https://www.coursera.org/account/accomplishments/verify/83PWD87RU7N6" target="_blank" class="btn btn-primary">View Certificate</a>
      </div>

      <div class="certificate-item">
        <h3>Deep Learning Specialization</h3>
        <p>Issued by Coursera</p>
        <p><em>Date: July 2023</em></p>
        <a href="https://www.coursera.org/account/accomplishments/verify/WDFGGTVVEEV9" target="_blank" class="btn btn-primary">View Certificate</a>
      </div>

      <div class="certificate-item">
        <h3>Veri Bilimi Analitiği Practicum</h3>
        <p>Issued by Sertifier</p>
        <p><em>Date: May 2023</em></p>
        <a href="https://verified.sertifier.com/en/verify/94055595907883/?ref=email" target="_blank" class="btn btn-primary">View Certificate</a>
      </div>

      <div class="certificate-item">
        <h3>Python Programming</h3>
        <p>Issued by Udemy</p>
        <p><em>Date: March 2023</em></p>
        <a href="https://www.udemy.com/certificate/UC-234fee81-7b85-4959-aa14-8889a227207a/" target="_blank" class="btn btn-primary">View Certificate</a>
      </div>

      <div class="certificate-item">
        <h3>Java Programming</h3>
        <p>Issued by Udemy</p>
        <p><em>Date: February 2023</em></p>
        <a href="https://www.udemy.com/certificate/UC-e5268dd2-db2b-4615-bf80-0cf6edaa489e/" target="_blank" class="btn btn-primary">View Certificate</a>
      </div>

      <div class="certificate-item">
        <h3>Online Programming Contest</h3>
        <p>Issued by Inzva</p>
        <p><em>Date: December 2021</em></p>
      </div>

      <div class="certificate-item">
        <h3>Biz Bize Kariyer Aday Mühendisi</h3>
        <p>Issued by TPAO</p>
        <p><em>Date: July 2024</em></p>
      </div>

    </div>
  </div>
</section>
