<footer id="contact" class="site-footer">
  <div class="container">
    <div class="row">
      <!-- About Me Section -->
      <div class="col-md-6">
        <h6>About Me</h6>
        <p class="text-justify">
          I am a recent graduate of Computer Engineering from Hacettepe University. I have hands-on experience with C# ASP.NET for backend development and knowledge of Java Spring Boot and Spring Security. Additionally, I have been conducting research and developing projects in Machine Learning and Deep Learning using Python. Currently, I am continuing my journey as a full stack developer.</p>
      </div>

      <!-- Favorite Series Section -->
      <div class="col-md-3">
        <h6>Favorite Series</h6>
        <ul class="footer-links">
          <li>The Queen's Gambit</li>
          <li>Breaking Bad</li>
          <li>Game of Thrones</li>
          <li>Behzat Ç.</li>
          <li>Better Call Saul</li>
          <li>The Last Kingdom</li>
        </ul>
      </div>

      <!-- Contact Section -->
      <div class="col-md-3">
        <h6>Contact</h6>
        <ul class="social-icons-footer">
          <li><a class="email" href="mailto:esatsuphi@gmail.com" target="_blank">Email</a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/in/esadboran/" target="_blank">LinkedIn</a></li>
          <li><a class="twitter" href="https://twitter.com/BoranEsad" target="_blank"></i> Twitter</a></li>
          <li><a class="github" href="https://github.com/esadboran" target="_blank"></i> GitHub</a></li>
        </ul>
      </div>

    </div>
    <hr>
    <div class="farewell-message">
      See You Again
    </div>
  </div>
</footer>
