<section id="projects" class="projects-section mt-5">
    <div class="container">
        <h2 class="text-center mb-5">My Projects</h2>
        <div class="row">
            <!-- Project 1 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">3D Data Visualization Engine</h5>
                        <p class="card-text">Developed a modern, user-friendly, and high-performance 3D Data Visualization Engine capable of visualizing seismic, well, and surface data used in the petroleum sector. Utilizing Three.js, the visualization engine features a dynamic 3D coordinate system to represent complex geological data interactively. Additionally, specialized algorithms were implemented to handle large-scale datasets efficiently.</p>
                    </div>
                </div>
            </div>
            <!-- Project 2 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Active Object Tracking On a Drone</h5>
                        <p class="card-text">
                            Active Object Tracking On a Drone" was my final year project at university. I developed this project on the Airsim simulator using Python and AI for active object tracking. I created custom datasets specifically for this project, enabling drones to follow selected objects and navigate complex routes. To learn more, click the "Learn More" button.                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="https://esadboran.github.io/BitirmeProjesi/" target="_blank" class="projects-btn btn">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- Project 3 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">ICES4HU - Course Evaluation System</h5>
                        <p class="card-text">Comprehensive web application for course evaluations at Hacettepe University, providing role-based access and a user-friendly interface.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://github.com/esadboran/ICES4HU-Course-Evaluation-System" target="_blank" class="projects-btn btn">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- Project 4 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"> Applications Platform Module</h5>
                        <p class="card-text">Created a module to manage, receive, and track internal requests to the R&D center. This module improved the overall efficiency of request handling by providing a centralized platform for communication and tracking.</p>
                    </div>
                </div>
            </div>
            <!-- Project 5 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Surface Data Management</h5>
                        <p class="card-text">
                            Created tools for users to upload and view surface data. These tools made it easier for users to work with and understand large geospatial data, improving their experience and helping them make better decisions. I also designed the database to support this system.                        </p>
                    </div>
                </div>
            </div>
            <!-- Project 6 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Bill Management Module</h5>
                        <p class="card-text">Created a Spring-based module for users to view bills, make payments, and calculate taxes. The module features an intuitive interface, providing users with easy access to their billing information and automating calculations to reduce manual effort.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>