<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container">
    <h1 class="text-center">Resume</h1>
    <p style="text-align: center">You can obtain information about the schools I have studied at and the companies I have worked for from the details below.</p>
    <div class="row">
      <!-- Left Column: CV Button, Summary & Education -->
      <div class="col-lg-6">
        <!-- CV Download Button -->
        <h3 class="resume-title">Download CV</h3>
        <div class="resume-item pb-0">
        <p>Download my detailed CV in PDF format:</p>
        <a href="/EsadBoranCv.pdf" class="btn btn-primary" download>Download CV</a>
        </div>

        <!-- Contact Section -->
        <h3 class="resume-title">Contact</h3>
        <div class="resume-item pb-0">
          <h4 style="color: #18d26e;">Esad BORAN</h4>
          <p><em>Computer Engineer passionate about Full Stack Development & AI.</em></p>
          <ul class="contact-info">
            <li>İzmir, Ankara</li>
            <li>+90 553 463 91 19</li>
            <li>esatsuphi@gmail.com</li>
            <li><a href="https://www.linkedin.com/in/esadboran" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/esadboran" target="_blank">GitHub</a></li>
          </ul>
        </div>

        <!-- Education Section -->
        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <div style="display: flex;">
            <div style="flex: 1;">
              <h4 style="display: inline-block; margin-right: 10px; color: #18d26e;">Computer Engineer & Hacettepe University</h4>
              <h5 style="display: inline-block;">2018 - 2024</h5>
            </div>
            <div style="flex: 0;"><img src="images/hacettepe-uni-logo.png" alt="Image" style="width: 75px; height: 110px;"></div>
          </div>
          <p><em>Ankara &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GPA: 3.22/4</em></p>
          <p>I studied Computer Engineering at Hacettepe University. During this time, I took various courses in the field of computer science and reinforced my theoretical knowledge with practical applications. I benefited from the extensive resources of Hacettepe University and developed myself in an academic environment.</p>
        </div>

        <div class="resume-item">
          <div style="display: flex;">
            <div style="flex: 1;">
              <h4 style="display: inline-block; margin-right: 10px; color: #18d26e;">Suphi Koyuncuoğlu Anatolian High School</h4>
              <h5 style="display: inline-block;">2014 - 2018</h5>
            </div>
            <div style="flex: 0;"><img src="images/k_22091537_Suphi-Koyuncuoglu-Logo.jpg" alt="Image" style="width: 100px; height: 80px;"></div>
          </div>
          <p><em>İzmir &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GPA : 89.27/100</em></p>
          <p>It was a high school that gave English education as a foreign language education. The decisions I've made here over the course of four years have shaped my journey and left a lasting impression on me.</p>
        </div>
      </div>

      <!-- Right Column: Professional Experience -->
      <div class="col-lg-6">
        <h3 class="resume-title">Professional Experience</h3>

        <!-- Experience 1 -->
        <div class="resume-item">
          <h4 style="color: #18d26e;">TÜRKİYE PETROLLERİ A.O. (TPAO)</h4>
          <h5>October 2023 – June 2024</h5>
          <p><em>Junior Software Engineer</em></p>
          <ul>
            <li>Developed a modern, user-friendly, and high-performance 3D Data Visualization Engine capable of visualizing seismic, well, and surface data used in the petroleum sector.</li>
            <li>Created a new module for the TPAO Applications Platform to manage, receive, and track requests made from within the company to the R&D center.</li>
            <li>Developed modules for the Digital TPAO project that enable users to upload and visualize surface data.</li>
            <li><strong>Skills Used:</strong> ThreeJS, .NET, C#, Frontend (UI), Git</li>
          </ul>
        </div>

        <!-- Experience 2 -->
        <div class="resume-item">
          <h4 style="color: #18d26e;">GELİR İDARESİ BAŞKANLIĞI</h4>
          <h5>June 2023 – July 2023</h5>
          <p><em>Intern</em></p>
          <ul>
            <li>Developed a module with Spring that allows users to view their bills, make payments, and calculate taxes.</li>
            <li>Gained the opportunity to learn and apply technologies such as Spring and MySQL.</li>
            <li><strong>Skills Used:</strong> Spring, Java, Frontend (UI), Git</li>
          </ul>
        </div>

        <!-- Experience 3 -->
        <div class="resume-item">
          <h4 style="color: #18d26e;">Sisbim Technology</h4>
          <h5>June 2022 – July 2022</h5>
          <p><em>Internship</em></p>
          <ul>
            <li>I learned HTML, CSS, JavaScript for web programming</li>
            <li>I developed cloned Django projects such as Netflix, Blog, Instagram, and then we created web pages with the team I was with, and we also fixed the errors in our webpage.</li>
          </ul>
        </div>

        <!-- Experience 4 -->
        <div class="resume-item">
          <h4 style="color: #18d26e;">ODAKGIS</h4>
          <h5>September 2018 – December 2018</h5>
          <p><em>Volunteer Internship</em></p>
          <ul>
            <li>Linux learning experience with an Information Security Specialist</li>
            <li>Gained experience working with Computer Engineers developing software in Python and Java</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Resume Section -->
